RECAUDACIONES/RECAUDACION ECUTEL/DEV/OP WSDL/WSDL DESA EMPRESA/ecutel.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cobros.ecutel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cobros.ecutel/" name="WS_CobrosLinea_EcutelService">
<types>
<xsd:schema>
<xsd:import namespace="http://cobros.ecutel/" schemaLocation="http://pgccprebancos:7777/cobrosecutel2/WS_CobrosLinea_Ecutel?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="aplicaPago">
<part name="parameters" element="tns:aplicaPago"></part>
</message>
<message name="aplicaPagoResponse">
<part name="parameters" element="tns:aplicaPagoResponse"></part>
</message>
<message name="consultaDeuda">
<part name="parameters" element="tns:consultaDeuda"></part>
</message>
<message name="consultaDeudaResponse">
<part name="parameters" element="tns:consultaDeudaResponse"></part>
</message>
<message name="aplicaReverso">
<part name="parameters" element="tns:aplicaReverso"></part>
</message>
<message name="aplicaReversoResponse">
<part name="parameters" element="tns:aplicaReversoResponse"></part>
</message>
<message name="consultaDeudaAsp">
<part name="parameters" element="tns:consultaDeudaAsp"></part>
</message>
<message name="consultaDeudaAspResponse">
<part name="parameters" element="tns:consultaDeudaAspResponse"></part>
</message>
<message name="aplicaPagoAsp">
<part name="parameters" element="tns:aplicaPagoAsp"></part>
</message>
<message name="aplicaPagoAspResponse">
<part name="parameters" element="tns:aplicaPagoAspResponse"></part>
</message>
<portType name="WS_CobrosLinea_Ecutel">
<operation name="aplicaPago">
<input message="tns:aplicaPago"></input>
<output message="tns:aplicaPagoResponse"></output>
</operation>
<operation name="consultaDeuda">
<input message="tns:consultaDeuda"></input>
<output message="tns:consultaDeudaResponse"></output>
</operation>
<operation name="aplicaReverso">
<input message="tns:aplicaReverso"></input>
<output message="tns:aplicaReversoResponse"></output>
</operation>
<operation name="consultaDeudaAsp">
<input message="tns:consultaDeudaAsp"></input>
<output message="tns:consultaDeudaAspResponse"></output>
</operation>
<operation name="aplicaPagoAsp">
<input message="tns:aplicaPagoAsp"></input>
<output message="tns:aplicaPagoAspResponse"></output>
</operation>
</portType>
<binding name="WS_CobrosLinea_EcutelPortBinding" type="tns:WS_CobrosLinea_Ecutel">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="aplicaPago">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultaDeuda">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aplicaReverso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultaDeudaAsp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aplicaPagoAsp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WS_CobrosLinea_EcutelService">
<port name="WS_CobrosLinea_EcutelPort" binding="tns:WS_CobrosLinea_EcutelPortBinding">
<soap:address location="http://pgccprebancos:7777/cobrosecutel2/WS_CobrosLinea_Ecutel"></soap:address>
</port>
</service>
</definitions>