UTILIDAD/RECAUDACIONES/RECAUDACION ECUTEL/DEV/OP WSDL/WSDL PROD VIRTUALIZADOR/ecutel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-.--><definitions targetNamespace="http://cobros.ecutel/" name="WS_CobrosLinea_EcutelService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cobros.ecutel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cobros.ecutel/" schemaLocation="WS_CobrosLinea_Ecutel.xsd"/>
    </xsd:schema>
  </types>
  <message name="aplicaPago">
    <part name="parameters" element="tns:aplicaPago"/>
  </message>
  <message name="aplicaPagoResponse">
    <part name="parameters" element="tns:aplicaPagoResponse"/>
  </message>
  <message name="consultaDeuda">
    <part name="parameters" element="tns:consultaDeuda"/>
  </message>
  <message name="consultaDeudaResponse">
    <part name="parameters" element="tns:consultaDeudaResponse"/>
  </message>
  <message name="aplicaReverso">
    <part name="parameters" element="tns:aplicaReverso"/>
  </message>
  <message name="aplicaReversoResponse">
    <part name="parameters" element="tns:aplicaReversoResponse"/>
  </message>
  <message name="consultaDeudaAsp">
    <part name="parameters" element="tns:consultaDeudaAsp"/>
  </message>
  <message name="consultaDeudaAspResponse">
    <part name="parameters" element="tns:consultaDeudaAspResponse"/>
  </message>
  <message name="aplicaPagoAsp">
    <part name="parameters" element="tns:aplicaPagoAsp"/>
  </message>
  <message name="aplicaPagoAspResponse">
    <part name="parameters" element="tns:aplicaPagoAspResponse"/>
  </message>
  <portType name="WS_CobrosLinea_Ecutel">
    <operation name="aplicaPago">
      <input message="tns:aplicaPago"/>
      <output message="tns:aplicaPagoResponse"/>
    </operation>
    <operation name="consultaDeuda">
      <input message="tns:consultaDeuda"/>
      <output message="tns:consultaDeudaResponse"/>
    </operation>
    <operation name="aplicaReverso">
      <input message="tns:aplicaReverso"/>
      <output message="tns:aplicaReversoResponse"/>
    </operation>
    <operation name="consultaDeudaAsp">
      <input message="tns:consultaDeudaAsp"/>
      <output message="tns:consultaDeudaAspResponse"/>
    </operation>
    <operation name="aplicaPagoAsp">
      <input message="tns:aplicaPagoAsp"/>
      <output message="tns:aplicaPagoAspResponse"/>
    </operation>
  </portType>
  <binding name="WS_CobrosLinea_EcutelPortBinding" type="tns:WS_CobrosLinea_Ecutel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="aplicaPago">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDeuda">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aplicaReverso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDeudaAsp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aplicaPagoAsp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WS_CobrosLinea_EcutelService">
    <port name="WS_CobrosLinea_EcutelPort" binding="tns:WS_CobrosLinea_EcutelPortBinding">
      <soap:address location="http://pgccprebancos:7777/cobrosecutel/WS_CobrosLinea_Ecutel"/>
    </port>
  </service>
</definitions>