UTILIDAD/PROYECTOS/RECAUDACION-LINEA-SAT/PagoServicios/OTCSATServices/Connected Services/ClienteTarifario/TarifarioCash_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.bolivariano.com/Persona" targetNamespace="http://www.bolivariano.com/Persona" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>Persona</documentation>
  </annotation>
  <complexType name="Persona">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="primerNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="apellidoCasado" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCompleto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="sexo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="estadoCivil" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nacionalidad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="instruccion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="profesion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="date" />
    </sequence>
  </complexType>
</schema>