UTILIDAD/PROYECTOS/RECAUDACION-LINEA-SAT/PagoServicios/OTCSATServices/Connected Services/ClienteTarifario/TarifarioCash_1_2_3_4_5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:s1="http://www.bolivariano.com/Producto" targetNamespace="http://www.bolivariano.com/Producto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Producto" type="s1:Producto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="administracionCupoGlobal" type="xs:int">
        <xs:annotation>
          <xs:documentation>Secuencial Numerico utilizado por la aplicacion
						Cobis</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoCupoCab" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="codigoDetalleCupoGlobal" type="xs:int">
        <xs:annotation>
          <xs:documentation>Secuencial numerico generado del lado de la
						aplicacion
						BPM. Y se utiliza para identificar un cupo global del
						lado de BPM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoEmpresa" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="codigoLinea" type="xs:int">
        <xs:annotation>
          <xs:documentation>Codigo de linea de credito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codProducto" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="codSubProducto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cotizacion" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="cupo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="cupoAsignado" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="cupoDisponible" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="cupoEmpresa" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="cupoUtilizado" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="detalleCupoGlobal" type="xs:int">
        <xs:annotation>
          <xs:documentation>codigo detalle de cupo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="disponibleEmpresa" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="estadoLinea" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaCaducidad" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaInicio" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaVencimiento" type="xs:string">
        <xs:annotation>
          <xs:documentation>Operaciones Vigentes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="monto" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoAprobado" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoDesembolso" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoDisponible" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoDistribuido" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoFinanciar" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoPorDistribuir" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoPorProcesar" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="montoProceso" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroDiaExt" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroLinea" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroOperacion" type="xs:int">
        <xs:annotation>
          <xs:documentation>Operaciones Vigentes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="periocidadPago" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="plazo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Operaciones Vigentes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="plazoMaximo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="producto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="riesgoActual" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="saldo" type="xs:float">
        <xs:annotation>
          <xs:documentation>Operaciones Vigentes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tipoBien" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoLinea" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tipo de linea de credito Productos N=natural,
						F=factory
						electronic, C=confirming</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tipoOperacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoPlazo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="todos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="usuarioAprobador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="valorMaximoExtensionCupo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Valor maximo de extension de cupo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="vigencia" type="xs:int">
        <xs:annotation>
          <xs:documentation>Vigencia en dias</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tarjetaCredito" type="s1:TarjetaCredito" />
  <xs:complexType name="TarjetaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estadoProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="estadoTarjeta" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaIngreso" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tarjetaBK" type="xs:int">
        <xs:annotation>
          <xs:documentation>Tarjeta BK</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tarjetaChip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValoresProducto" type="s1:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="credito" type="s1:Credito" />
  <xs:complexType name="Credito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="accionTramite" type="xs:string">
        <xs:annotation>
          <xs:documentation>Accion de tramite, tipo de tramite de solicitud
						de
						credito (Analisis, aprobacion, ingreso, recomienda
						excepcion, etc)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="anioConstruccion" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BienEsClteBco" type="xs:string">
        <xs:annotation>
          <xs:documentation>Beneficiario es cliente del banco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="bienExtranjero" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="casoBPM" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="casoPadre" type="xs:int">
        <xs:annotation>
          <xs:documentation>Credito Caso Padre de Bizagi</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoDetalleDesembolso" type="xs:int">
        <xs:annotation>
          <xs:documentation>Codigo Credito Detalle Desembolso</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoLinea" type="xs:int">
        <xs:annotation>
          <xs:documentation>Codigo de linea de credito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoSecuencial" type="xs:int">
        <xs:annotation>
          <xs:documentation>Codigo de linea secuencial</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codigoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="cotiza" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="cuotaEntrada" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="cuotaInicial" type="xs:float">
        <xs:annotation>
          <xs:documentation>Porcentaje de cuota de entrada</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="destinoVivienda" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="estacionTrm" type="xs:int">
        <xs:annotation>
          <xs:documentation>Estacion del usuario que recibe la solicitud</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="etapaTrm" type="xs:int">
        <xs:annotation>
          <xs:documentation>Etapa del usuario que recibe la solicitud</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaCancelacion" type="xs:date">
        <xs:annotation>
          <xs:documentation>Fecha Cancelacion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaContable" type="xs:date">
        <xs:annotation>
          <xs:documentation>Fecha Contable - Fecha Con</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaDesde" type="xs:date">
        <xs:annotation>
          <xs:documentation>i_fecha_desde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaHasta" type="xs:date">
        <xs:annotation>
          <xs:documentation>i_fecha_hasta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaLlegada" type="xs:date">
        <xs:annotation>
          <xs:documentation>Fecha de registro - i_uc_fecha_llegada</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaObservacion" type="xs:date">
        <xs:annotation>
          <xs:documentation>i_fecha_obs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaSalida" type="xs:date">
        <xs:annotation>
          <xs:documentation>i_uc_fecha_salida</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaValor" type="xs:date">
        <xs:annotation>
          <xs:documentation>i_cb_fecha_valor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="fechaVencimiento" type="xs:date">
        <xs:annotation>
          <xs:documentation>Fecha Vencimiento - Fecha Venc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="lineaCredito" type="xs:string">
        <xs:annotation>
          <xs:documentation>Codigo de linea de credito - i_linea_cred</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="modo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="moneda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="monto" type="xs:float">
        <xs:annotation>
          <xs:documentation>Monto credito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="montoDesembolso" type="xs:float">
        <xs:annotation>
          <xs:documentation>i_cb_monto_desembolso</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="montoProceso" type="xs:float">
        <xs:annotation>
          <xs:documentation>Monto proceso</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="nombreCliente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oficina" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="operacion" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="periocidadPago" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="plazo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="plazoMaximo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="plazoMeses" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="porcentajeComision" type="xs:float">
        <xs:annotation>
          <xs:documentation>Porcentaje de comision</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="producto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="referido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="scoreBuroCredito" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="tasaDescuento" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoDesembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoIdBeneficiario" type="xs:string">
        <xs:annotation>
          <xs:documentation>tipo de identificacion del beneficiario</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tipoLinea" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tipo linea de credito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tipoObservacion" type="xs:string">
        <xs:annotation>
          <xs:documentation>i_tipo_obsv</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="tipoOperacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoPlazo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoVivienda" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="valorBien" type="xs:float">
        <xs:annotation>
          <xs:documentation>Valor total bien</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>