UTILIDAD/PROYECTOS/RECAUDACION-LINEA-SAT/PagoServicios/OTCSATServices/Connected Services/ClienteTarifario/TarifarioCash_1_2_3_4_5_6_7.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.bolivariano.com/PosicionGeografica" targetNamespace="http://www.bolivariano.com/PosicionGeografica" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>Definicion de esquema para tipo de dato posicion</documentation>
  </annotation>
  <complexType name="PosicionGeografica">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="latitud" type="string" />
      <element minOccurs="1" maxOccurs="1" name="longuitud" type="string" />
    </sequence>
  </complexType>
</schema>